# Generic entries for unknown ISO files
if cpuid -l ; then # Check whether CPU is 64-bit
  if [ -e $isopath/blackarchlinux-*-x86_64.iso ]; then
    for isofile in $isopath/blackarchlinux-*-x86_64.iso; do
      regexp --set=isoname "$isopath/(.*)" "$isofile"
      regexp --set=1:year --set=2:month '([[:digit:]]+)\.([[:digit:]]+)' "$isoname"
      cdlabel="BLACKARCH_${year}${month}"
      bootdir="x86_64"
      submenu "$isoname ->" "$isofile" "$cdlabel" "$bootdir" {
        iso_path="$2"
        cd_label="$3"
        boot_dir="$4"
        loopback loop "$iso_path"
        source $prefix/grub.d/blackarch.d/generic.inc
      }
    done
  fi
fi
