# https://www.alpinelinux.org/posts/Alpine-3.7.0-released.html
# https://wiki.alpinelinux.org/wiki/Create_A_VirtualBox_Guest_with_Grub_and_XFS
# https://wiki.alpinelinux.org/wiki/Install_to_disk

for isofile in $isopath/alpine-*.iso; do
  if [ -e "$isofile" ]; then
    regexp --set=isoname "$isopath/(.*)" "$isofile"
    submenu "$isoname ->" "$isofile" {
      iso_path="$2"
      loopback loop "$iso_path"
      menuentry "Alpine Linux" {
        #bootoptions="modloop=/boot/modloop-hardened root=UUID=$rootuuid alpine_dev=usbdisk:vfat modules=loop,squashfs,sd-mod,usb-storage quiet nomodeset"
        #linux (loop)/boot/vmlinuz-hardened $bootoptions
        #initrd (loop)/boot/initramfs-hardened
        linux16 $prefix/memdisk iso raw vmalloc=500M
        initrd16 $iso_path
      }
    }
  fi
done
