# Partition holding files
probe -u $root --set=rootuuid
set imgdevpath="/dev/disk/by-uuid/$rootuuid"
export imgdevpath rootuuid

# Custom variables
set isopath="/boot/isos"
export isopath

# Load modules
insmod regexp
insmod all_video

# Function to look for boot files
function search_files {
  root="$1"

  insmod bitmap
  insmod jpeg
  insmod png
  insmod tga

  for grubfile in \
    /boot/grub/loopback.cfg \
    /boot/grub/grub.cfg \
    /boot/grub/x86_64-efi/grub.cfg \
    /EFI/BOOT/grub.cfg; do
    if [ -e "$grubfile" ]; then
      menuentry "GRUB boot ($grubfile)" "$grubfile" {
        grub_file="$2"
        configfile "$grub_file"
      }
    fi
  done

  for syslinuxfile in \
    /isolinux.cfg \
    /syslinux.cfg \
    /isolinux/isolinux.cfg \
    /isolinux/syslinux.cfg \
    /syslinux/isolinux.cfg \
    /boot/isolinux.cfg \
    /boot/isolinux/isolinux.cfg \
    /boot/syslinux.cfg \
    /boot/syslinux/isolinux.cfg \
    /boot/syslinux/syslinux.cfg; do
    if [ -e "$syslinuxfile" ]; then
      menuentry "SYSLINUX boot ($syslinuxfile)" "$syslinuxfile" {
        syslinux_file="$2"
        syslinux_configfile -i "$syslinux_file"
      }
    fi
  done

  for legacyfile in \
    /boot/grub/menu.lst \
    /menu.lst; do
    if [ -e "$legacyfile" ]; then
      menuentry "GRUB legacy boot ($legacyfile)" "$legacyfile" {
        legacy_file="$2"
        legacy_configfile "$legacy_file"
      }
    fi
  done
}

# MultiBoot USB menu
submenu "Multiboot ->" {

  # Warning for 32-bit systems
  if ! cpuid -l; then
    clear
    echo "This is a 32-bit computer."
    echo "You won't get to use 64-bit software on it."
    echo
    echo -n "To continue, press ESC or wait 10 seconds... "
    sleep --interruptible 10
    echo
    echo
  fi

  # Load custom configuration
  if [ -e "$prefix/mbusb.cfg.local" ]; then
    source "$prefix/mbusb.cfg.local"
  fi

  # Load configuration for ISO/kernel files
  submenu "Boot supported ISO/kernel files ->" {
    echo -n "Loading configuration files... "
    for cfgfile in $prefix/mbusb.d/*.d/*.cfg; do
      source "$cfgfile"
    done
  }

  # Search ISO files for boot files
  submenu "Auto-detect ISO's configfiles ->" {
    echo -n "Looking for ISO files... "
    for isofile in $isopath/*.iso $isopath/*.img; do
      if [ -e "$isofile" ]; then
        regexp --set=isoname "$isopath/(.*)" "$isofile"
        submenu "$isoname ->" "$isofile" {
          iso_path="$2"
          export iso_path
          search --set=root --file "$iso_path"
          loopback loop "$iso_path"
          root=(loop)
          # Look for boot files
          search_files $root
        }
      fi
    done
  }

  # Use MEMDISK to load ISO files
  submenu "Use MEMDISK to boot ISO files ->" {
    echo -n "Looking for ISO files... "
    for isofile in $isopath/*.iso; do
      if [ -e "$isofile" ]; then
        regexp --set=isoname "$isopath/(.*)" "$isofile"
        menuentry "$isoname" "$isofile" {
          iso_path="$2"
          bootoptions="iso raw"
          linux16 $prefix/memdisk $bootoptions
          initrd16 $iso_path
        }
      fi
    done
    echo
    echo -n "Looking for ISO files... "
    for imgfile in $isopath/*.img; do
      if [ -e "$imgfile" ]; then
        regexp --set=imgname "$isopath/(.*)" "$imgfile"
        menuentry "$imgname" "$imgfile" {
          img_path="$2"
          bootoptions="raw"
          linux16 $prefix/memdisk $bootoptions
          initrd16 $img_path
        }
      fi
    done
  }

}
