# Generic entries for unknown ISO files
if [ -e $isopath/debian-*i386-mini.iso ]; then
  for isofile in $isopath/debian-*i386-mini.iso; do
    regexp --set=isoname "$isopath/(.*)" "$isofile"
    submenu "$isoname (grub.cfg) ->" "$isofile" {
      iso_path="$2"
      export iso_path
      search --set=root --file "$iso_path"
      loopback loop "$iso_path"
      root=(loop)
      configfile /boot/grub/grub.cfg
      loopback --delete loop
    }
  done
fi
