# Generic entries for unknown ISO files
if cpuid -l ; then # Check whether CPU is 64-bit
  if [ -e $isopath/Fedora-Server-dvd-x86_64-*.iso ]; then
    for isofile in $isopath/Fedora-Server-dvd-x86_64-*.iso; do
      regexp --set=isoname "$isopath/(.*)" "$isofile"
      regexp --set=rel 'x86_64-([[:digit:]]+)' "$isoname"
      cdlabel="Fedora-S-dvd-x86_64-${rel}"
      submenu "$isoname ->" "$isofile" "$cdlabel" {
        iso_path="$2"
        cd_label="$3"
        loopback loop "$iso_path"
        source $cfgdir/server-generic.inc
      }
    done
  fi
fi
