# Generic entries for unknown ISO files
if cpuid -l ; then # Check whether CPU is 64-bit
  if [ -e $isopath/manjaro-*-x86_64.iso ]; then
    for isofile in $isopath/manjaro-*-x86_64.iso; do
      regexp --set=isoname "$isopath/(.*)" "$isofile"
      regexp --set=1:year --set=2:month '([[:digit:]]+)\.([[:digit:]]+)' "$isoname"
      cdlabel="MJRO${year}${month}"
      bootdir="x86_64"
      submenu "$isoname ->" "$isofile" "$cdlabel" "$bootdir" {
        isofile="$2"
        cdlabel="$3"
        bootdir="$4"
        loopback loop "$isofile"
        source $prefix/grub.d/manjaro.d/generic.inc
      }
    done
  fi
fi
