# Generic entries for unknown ISO files
if [ -e $isopath/manjaro-*-i686.iso ]; then
  for isofile in $isopath/manjaro-*-i686.iso; do
    regexp --set=isoname "$isopath/(.*)" "$isofile"
    bootdir="i686"
    submenu "$isoname ->" "$isofile" "$bootdir" {
      iso_path="$2"
      boot_dir="$3"
      loopback loop "$iso_path"
      probe --label --set=cd_label (loop)
      source $prefix/grub.d/manjaro.d/generic.inc
    }
  done
fi
