# Generic entries for unknown ISO files
if cpuid -l ; then # Check whether CPU is 64-bit
  if [ -e $isopath/CentOS-*-x86_64-Live*.iso ]; then
    for isofile in $isopath/CentOS-*-x86_64-Live*.iso; do
      regexp --set=isoname "$isopath/(.*)" "$isofile"
      regexp --set=cdlabel "(.*)\.iso" "$isoname"
      submenu "$isoname ->" "$isofile" "$cdlabel" {
        iso_path="$2"
        cd_label="$3"
        inc_file="$cfgdir/${cd_label}.inc"
        loopback loop "$iso_path"
        if [ -e "$inc_file" ]; then
          source $inc_file
        else
          source $cfgdir/live-generic.inc
        fi
      }
    done
  fi
fi
