# Ultimate Boot CD (http://www.ultimatebootcd.com/)
if [ -e $isopath/ubcd*.iso ]; then
  submenu "Ultimate Boot CD ->" {
    for configfile in $prefix/grub.d/ubcd.d/*.cfg; do
      source $configfile
    done
  }
fi
