# Generic entries for unknown ISO files
if [ -e $isopath/openSUSE-Tumbleweed-*-Live-i686-*.iso ]; then
  for isofile in $isopath/openSUSE-Tumbleweed-*-Live-i686-*.iso; do
    regexp --set=isoname "$isopath/(.*)" "$isofile"
    bootdir="i386"
    submenu "$isoname ->" "$isofile" "$bootdir" {
      isofile="$2"
      bootdir="$3"
      loopback loop "$isofile"
      source $prefix/grub.d/opensuse.d/tumbleweed-generic.inc
    }
  done
fi
