# Generic entries for unknown ISO files
if cpuid -l ; then # Check whether CPU is 64-bit
  if [ -e $isopath/openSUSE-Tumbleweed-*-Live-x86_64-*.iso ]; then
    for isofile in $isopath/openSUSE-Tumbleweed-*-Live-x86_64-*.iso; do
      regexp --set=isoname "$isopath/(.*)" "$isofile"
      bootdir="x86_64"
      submenu "$isoname ->" "$isofile" "$bootdir" {
        iso_path="$2"
        boot_dir="$3"
        loopback loop "$iso_path"
        source $prefix/grub.d/opensuse.d/tumbleweed-generic.inc
      }
    done
  fi
fi
