# Generic entries for unknown ISO files
if [ -e $isopath/archlinux-*-dual.iso ]; then
  for isofile in $isopath/archlinux-*-dual.iso; do
    regexp --set=isoname "$isopath/(.*)" "$isofile"
    submenu "$isoname ->" "$isofile" {
      iso_path="$2"
      loopback loop "$iso_path"
      menuentry "Arch Linux (i686)" {
        bootoptions="img_dev=$imgdevpath img_loop=$iso_path earlymodules=loop"
        linux (loop)/arch/boot/i686/vmlinuz $bootoptions
        initrd (loop)/arch/boot/i686/archiso.img
      }
      if cpuid -l ; then # Check whether CPU is 64-bit
        menuentry "Arch Linux (x86_64)" {
          bootoptions="img_dev=$imgdevpath img_loop=$iso_path earlymodules=loop"
          linux (loop)/arch/boot/x86_64/vmlinuz $bootoptions
          initrd (loop)/arch/boot/x86_64/archiso.img
        }
      fi
    }
  done
fi
