# Generic entries for unknown ISO files
if cpuid -l ; then # Check whether CPU is 64-bit
  if [ -e $isopath/openbsd-install*-amd64.iso ]; then
    for isofile in $isopath/openbsd-install*-amd64.iso; do
      regexp --set=isoname "$isopath/(.*)" "$isofile"
      menuentry "$isoname" "$isofile" {
        isofile="$2"
        bootoptions="iso raw vmalloc=250M"
        linux16 $prefix/memdisk $bootoptions
        initrd16 $isofile
      }
    done
  fi
fi
