---
---

@import "{{ site.theme }}";

/* Links */
a:active,
a:focus,
a:hover,
a:visited {
  font-weight: inherit;
  text-decoration: underline;
}

/* Code */
pre {
  border-radius: 0;
}

/* Center images */
img {
  display:block;
  margin: 0 auto;
}

/* Header home link */
.home,
.home:active,
.home:hover,
.home:visited {
  color: #222;
  font-size: 2.5em;
  font-weight: bolder;
  line-height: 1.1em;
  text-decoration: none;
}
.home:hover {
  color: #069;
}

/* Align table for items */
.item-list td:first-child, .item-list th:first-child {
  text-align: left;
}
.item-list td, .item-list th {
  overflow: hidden;
  text-align: right;
}
.item-list p { margin: 0; }

/* Change border size of table header and color of odd rows */
th {
  border-bottom-width: 2px;
}
tbody > tr:nth-child(odd) {
  background: rgba(#393939, 0.055);
}

/* SVG icons */
/* http://stackoverflow.com/a/25184858 */
svg.icon {
  display: inline-block;
  fill: none;
  height: 18px;
  padding: 5px;
  stroke: #39c;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  width: 18px;
}
svg.icon:hover {
  stroke: #069;
}

/* Note */
.note {
  background-color: lightyellow;
  border: 1px solid #e5e5e5;
  color: #393939;
  margin: 0 0 20px;
  max-width: 100%;
  padding: 8px 15px;
}
.note > p {
  display: inline;
}

/* Video */
video {
  border: 1px solid #e5e5e5;
  display: block;
  height: auto;
  margin-bottom: 20px;
  max-width: 100%;
}

/* vim: set ft=css : */
