# Generic entries for unknown ISO files
if cpuid -l ; then # Check whether CPU is 64-bit
  if [ -e $isopath/ubuntu-*mini-amd64.iso ]; then
    for isofile in $isopath/ubuntu-*mini-amd64.iso; do
      regexp --set=isoname "$isopath/(.*)" "$isofile"
      menuentry "$isoname" "$isofile" {
        isofile="$2"
        bootoptions="iso raw"
        linux16 $prefix/memdisk $bootoptions
        initrd16 $isofile
      }
    done
  fi
fi
