# Generic entries for unknown ISO files
if cpuid -l ; then # Check whether CPU is 64-bit
  if [ -e $isopath/pclinuxos64-*.iso ]; then
    for isofile in $isopath/pclinuxos64-*.iso; do
      regexp --set=isoname "$isopath/(.*)" "$isofile"
      submenu "$isoname ->" "$isofile" {
        iso_path="$2"
        loopback loop "$iso_path"
        source $prefix/grub.d/pclinuxos.d/generic.inc
      }
    done
  fi
fi
