# Generic entries for unknown ISO files
if cpuid -l ; then # Check whether CPU is 64-bit
  if [ -e $isopath/elementaryos-*-amd64*.iso ]; then
    for isofile in $isopath/elementaryos-*-amd64*.iso; do
      regexp --set=isoname "$isopath/(.*)" "$isofile"
      submenu "$isoname (loopback.cfg) ->" "$isofile" {
        iso_path="$2"
        export iso_path
        search --set=root --file "$iso_path"
        loopback loop "$iso_path"
        root=(loop)
        configfile /boot/grub/loopback.cfg
        loopback --delete loop
      }
    done
  fi
fi
